
@import url(https://fonts.googleapis.com/css?family=Lato);

.offLine_Container {
  background: black;
  color: white;
  padding: 5px;
  text-align: center;
}

.onLine_Container {
  background: white;
  color: black;
  padding: 5px;
  text-align: center;
}
