#result {
	font-family: sans-serif;
	font-size: 35px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

.video-container {
  position: relative;
}

.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#backgroundVid {
	position: fixed;
	min-width: 100%; 
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}



